<div class="share-buttons">
  <button (click)="openShareWindow('facebook')" class="share-button facebook" title="Share on Facebook">
    <img src="/facebook.svg" alt="Facebook Icon"> </button>

  <button (click)="openShareWindow('linkedin')" class="share-button linkedin" title="Share on LinkedIn">
    <img src="/linkedin.svg" alt="LinkedIn Icon"> </button>

  <button (click)="openShareWindow('twitter')" class="share-button twitter" title="Share on Twitter">
    <img src="/x.svg" alt="Twitter Icon"> </button>

  <button (click)="openShareWindow('whatsapp')" class="share-button whatsapp" title="Share on WhatsApp">
    <img src="/whatsapp.svg" alt="WhatsApp Icon"> </button>

  <button (click)="openShareWindow('email')" class="share-button email" title="Share via Email">
    <img src="/gmail.svg" alt="Email Icon"> </button>
</div>